@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;400&family=Libre+Caslon+Text&family=Kolker+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');

        .custom-bg-color {
            background-color: rgba(129, 123, 133, 0.22);
        }
        .input-container {
            position: relative;
            width: 100%;
        }
        .input-container input {
            padding-left: 20px;
            padding-top: 40px;
            font-size: large;
            font-family: 'Noto Sans Thai';
        }
        .input-label {
            position: absolute;
            padding-bottom: 50px;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none; /* ไม่ให้ส่งอิเวนต์เมื่อคลิกที่ label */
            color: #718096;
            font-size: small;
            font-family: 'Noto Sans Thai';
        }
        /* .custom-button {
            background-color: #555960;
            color: white;
            padding: 10px 20px;
            border-radius: 20px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-family: 'Noto Sans Thai';
        } */
        .custom-button:hover {
            background-color: rgb(185, 182, 182);
        }
        .custom-a {
            padding-left: 280px;
            padding-bottom: 10px;
            font-family: 'Noto Sans Thai';
        }

body {
  margin: 0px;
  padding: 0px;
}
.kolker-brush-regular {
  font-family: "Kolker Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

.libre-caslon {
  font-family: "Libre Caslon Text", serif;
  font-weight: 700;
  font-style: normal;
}

.mitr {
  font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.noto {
  font-family: "Noto Sans Thai", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

::-webkit-scrollbar{
  width:16px;
}

::-webkit-scrollbar-track{
  background-color: #7A6464;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb{
  background-color: #ACABAB;
  background-clip: content-box;
  box-shadow: 0px 5px 5px rgba(44, 44, 44, 0.295);
  border-radius: 20px;
}


